
*{margin:0;padding:0;}
ul,ol,li{list-style:none;}
img{border:0;}
input,select,textarea,button{outline:none;border:none;background:none;/*background:none;Ȼ.search_textbackground:#FFF;IE6search_btnͲ*/}
textarea{resize:none;}
a{text-decoration:none;}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both;}
.clearfix { *zoom:1; }
.fl{float:left;}
.fr{float:right;}
body{text-align:center;/*overflow:hidden;*/}
.page{width:100%;margin:0 auto;font-family:"Microsoft Yahei";text-align:left;}


