
/*----------价格-----------*/
.header{position:fixed;left:0;top:0;z-index:9;width:100%;height:60px;background:#21A552;}
.headTit{width:100%;height:60px;line-height:60px;text-align:center;font-size:23px;font-family:"黑体";font-weight:normal;color:#FFFFFF;}
.addBtn{position:absolute;right:12px;top:50%;margin-top:-10px;width:20px;height:20px;}
.content{width:100%;padding-top:60px;padding-bottom:60px;}
.timebar{position:relative;height:37px;border-bottom:2px solid #D9D9D9;}
.presentTime{height:37px;line-height:37px;font-size:15px;font-family:"Microsoft YaHei";font-weight:normal;color:#262626;background:url(../images/icon/time.jpg) 10px center no-repeat;background-size:12px 12px;text-indent:32px;}
.edit{position:absolute;right:15px;top:50%;margin-top:-10px;font-size:12px;font-family:"Microsoft YaHei";color:#41A76C;}
.productPrice{width:100%;}
.productPrice_ul{}
.productPrice_ul li{position:relative;padding:10px 35px 10px 40px;background:url(../images/icon/greendot.jpg) 18px center no-repeat;background-size:14px 13px;border-bottom:1px solid #DADADA;}
.caomei{width:50%;}
/*.caomei h3*/.caomeiTit{font-size:16px;font-family:"Microsoft YaHei";color:#020202;margin-right:8px;}
/*.caomei p*/.caomeiTxt{line-height:18px;font-size:12px;font-family:"Microsoft YaHei";color:#7F7F7F;}
.gongjin{width:50%;font-size:12px;font-family:"Microsoft YaHei";color:#262626;}
.gongjinTxt{font-size:26px;font-family:"Microsoft YaHei";color:#262626;}
.height{width:auto;height:10px;}
.rightArrow{position:absolute;right:15px;top:50%;margin-top:-7px;width:9px;height:15px;background:url(../images/icon/rightArrow.jpg) left center no-repeat;background-size:9px 15px;}

.footer{box-shadow:0px 1px 5px rgba(0,0,0,.6);}
.footer ul.fiveBtn{position:fixed;bottom:0px;width:100%;height:50px;background:#1C1C1C;}
.footer ul.fiveBtn li{position:relative;float:left;width:25%;height:100%;text-align:center;font-size:15px;font-family:"黑体";color:#FFFFFF;border-right:1px solid #606060;box-sizing:border-box;}
.footer ul.fiveBtn li a{width:100%;height:100%;display:block;}
.dituNavigation .fiveBtn_icon{position:absolute;left:50%;top:6px;margin-left:-10px;width:23px;height:20px;}
.dituNavigation .fiveBtn_txt{position:absolute;left:0;bottom:5px;width:100%;font-size:12px;font-family:"Microsoft YaHei";color:#FFFFFF;text-align:center;}
.dituNavigation_active .fiveBtn_txt{color:#21AB5B;}


/*----------编辑_01-----------*/
.cancel{position:absolute;left:15px;top:50%;margin-top:-10px;font-size:12px;font-family:"Microsoft YaHei";color:#41A76C;}
.footer ul.delLiBox{position:fixed;bottom:0px;width:100%;height:50px;background:#FFF;border-top:1px solid #D9D9D9;}
.footer ul.delLiBox li.delLi{position:relative;float:left;width:100%;height:100%;text-align:center;font-size:15px;font-family:"黑体";color:#ABABAB;}
.delLi .delLi_icon{position:absolute;left:50%;top:6px;margin-left:-10px;width:23px;height:20px;background:url(../images/icon/deleteGray.png) left center no-repeat;}
.delLi .delLi_txt{position:absolute;left:0;bottom:5px;width:100%;font-size:12px;font-family:"Microsoft YaHei";color:#D9D9D9;text-align:center;}
.delLi_active .delLi_icon{background:url(../images/icon/deleteBlack.png) left center no-repeat;}
.delLi_active .delLi_txt{color:#1F1F1F;}
.unchecked{position:absolute;right:15px;top:50%;margin-top:-10px;width:20px;height:20px;background:url(../images/icon/unchecked.png) left center no-repeat;background-size:20px 20px;}
.checked{position:absolute;right:15px;top:50%;margin-top:-10px;width:20px;height:20px;background:url(../images/icon/checked.png) left center no-repeat;background-size:20px 20px;}


/*----------价格_添加-----------*/
.h12{height:10px;overflow:hidden;background:#FFF;}
.selectDown{padding:0 15px;margin-bottom:8px;}
.selectDown select{width:100%;height:38px;border:1px solid #BABABA;font-size:16px;font-family:"Microsoft YaHei";color:#020202;}
.diffmarket{padding:0 15px;}
.diffmarket_Box{padding-left:12px;border:1px solid #DADADA;border-radius:3px;}
.diffmarket_list{width:100%;}
.diffmarket_list li{height:34px;line-height:34px;font-size:12px;font-family:"Microsoft YaHei";color:#272727;}
.unchoose{position:relative;top:5px;display:inline-block;width:20px;height:20px;background:url(../images/icon/unchecked.png) left center no-repeat;background-size:20px 20px;margin-right:3px;}
.choose{position:relative;top:5px;display:inline-block;width:20px;height:20px;background:url(../images/icon/checked.png) left center no-repeat;background-size:20px 20px;margin-right:3px;}
.choosedMarket{font-size:12px;font-family:"Microsoft YaHei";color:#449E69;}
.sureBtnBox{padding:10px 0;}
.sureBtn{width:78px;height:30px;font-size:15px;font-family:"Microsoft YaHei";color:#FFFFFF;background:url(../images/icon/sureBtn_bg.jpg) left center no-repeat;}
.haveAdd{padding:10px 0px;padding-left:20px;font-size:15px;font-family:"Microsoft YaHei";color:#1B1B1B;}
.addNum{color:#FF2D4B;}


/*----------01价格-历史价格1-----------*/
.priceTabBtn{padding:0 15px;margin-bottom:10px;}
.priceTabBtn_ul{height:34px;line-height:34px;border:1px solid #333333;border-radius:34px;background:#333333;}
.priceTabBtn_ul li{float:left;width:35%;height:100%;text-align:center;border-right:1px solid #333333;/*box-sizing:border-box;*/background:#FFF;}
.priceTabBtn_ul li.tabBtnActive{color:#FFF;background:#333333;}
.priceTabBtn_ul li.recenPrice{border-radius:34px 0px 0px 34px;}
.priceTabBtn_ul li.nextMarket{width:30%;}
.priceTabBtn_ul li.moreCont{border-right:0px;border-radius:0px 34px 34px 0px;}
.priceTabCont{}
.recenPriceCont{padding:0 15px;}
.recenPriceCont_ul{background:url(../images/icon/verticleLine.jpg) 11px top repeat-y;margin-bottom:10px;}
.recenPriceCont_ul li{min-height:52px;}
.recenPriceCont_ul li .recenTime{padding:5px 0px 0px 0px;font-size:12px;font-family:"Microsoft YaHei";color:#9B9B9B;background:url(../images/icon/greenWhiteDot.png) 5px center no-repeat;text-indent:24px;}
.recenTxt{margin-left:15px;line-height:26px;}
.recenTxt_01{position:relative;top:5px;width:60%;font-size:12px;font-family:"Microsoft YaHei";color:#7F7F7F;text-indent:5px;}
.recenTxt_02{font-size:12px;font-family:"Microsoft YaHei";color:#262626;}
.downArrow{text-align:center;height:20px;overflow:hidden;}


/*----------01价格-历史价格2-----------*/
.nextMarketCont{padding:0 15px;display:none;}
.nextMarketCont_ul li{padding-top:5px;padding-bottom:5px;background:url(../images/icon/greenBar_bg.jpg) 5px center no-repeat;border-bottom:1px solid #C1C1C1;}
.caomeiTime{font-size:12px;font-family:"Microsoft YaHei";color:#333333;margin-right:3px;}


/*----------01价格-历史价格3-----------*/
.more2Cont{padding:0 15px;display:none;}
.selectfruit{overflow:hidden;margin-bottom:6px;}
.selectfruit_ul li{position:relative;float:left;width:50%;padding:0 10px;text-align:center;box-sizing:border-box;}
.pinlei{position:absolute;left:2px;top:5px;font-size:12px;font-family:"Microsoft YaHei";color:#4C4C4C;}
/*.selectsmBox,
.selectbigBox{padding-left:30px;text-align:left;}*/
.selectsm{position:relative;width:100%;height:24px;line-height:24px;padding-left:5px;border:1px solid #C3C3C3;font-size:12px;font-family:"Microsoft YaHei";color:#333333;box-sizing:border-box;}
.selectfruit_ul li.width100{width:100%;float:left;}
.selectbig{width:100%;height:24px;line-height:24px;border:1px solid #C3C3C3;font-size:12px;font-family:"Microsoft YaHei";color:#333333;}
.date{position:absolute;right:2px;top:5px;width:14px;height:14px;background:url(../images/icon/date.jpg) left center no-repeat;}
.paddingR10{padding-right:10px;}

   .styled-select .selectsm{  
   background:transparent;  
   width:100%;  
   padding:0px 5px;  
   font-size: 14px;  
   line-height: 1;  
   border: 0;  
   border-radius: 0;  
   height:24px;  
   -webkit-appearance:none;  
   }  
     
   .styled-select {  
   width:100%;  
   height:100%;  
   overflow: hidden;  
   background:url(../images/icon/selectArrow_down.png) no-repeat right #FFF;  
   border:1px solid #C3C3C3;  
   } 



.recenTxt_01No{width:100%;top:0px;}
.recenTxt_border{border-bottom:1px solid #CCC;}


/*----------02行情2-----------*/
.hangqing_article{}
.hangqing_articleTit{font-size:15px;font-family:"Microsoft YaHei";color:#151515;text-align:center;}
.hangqing_articleTime{padding:5px 0px;font-size:12px;font-family:"Microsoft YaHei";color:#737373;text-align:center;border-bottom:1px solid #CECECE;}
.hangqing_articleP{line-height:18px;padding:10px 15px;font-size:12px;font-family:"Microsoft YaHei";color:#262626;}
.hangqing_articleP p{text-indent:2em;}


/*----------03买卖-卖出1-----------*/
.saleTabBtn{padding:0 15px;margin-bottom:10px;}
.saleTabBtn_ul{height:34px;line-height:34px;border:1px solid #333333;border-radius:34px;}
.saleTabBtn_ul li{float:left;width:50%;height:100%;text-align:center;border-right:1px solid #333333;box-sizing:border-box;}
.saleTabBtn_ul li.tabBtnActive{color:#FFF;background:#333333;}
.saleTabBtn_ul li.recenPrice{border-radius:34px 0px 0px 34px;}
.saleTabBtn_ul li.moreCont{border-right:0px;border-radius:0px 34px 34px 0px;}
.lastnews{padding:0 10px 10px 10px;border-bottom:1px solid #D4D4D4;}
.rightnews{height:27px;line-height:27px;font-size:15px;font-family:"Microsoft YaHei";color:#333333;}
.greentArrow{position:relative;top:-3px;margin-right:3px;}
.saleBtn{padding:0 15px;height:27px;line-height:27px;font-size:15px;font-family:"Microsoft YaHei";color:#FFF;background:url(../images/icon/saleBtn_bg.png) left center no-repeat;background-size:100% 100%;}
.imgtxtList{padding:5px 10px;}
.imgtxtList_ul{width:100%;}
.imgtxtList_ul li{position:relative;padding:10px;border-bottom:1px solid #DADADA;}
.saletxt_img{position:absolute;left:10px;top:50%;margin-top:-31px;width:71px;height:63px;}
.saletxt_txt{padding-left:90px;padding-right:90px;}
.saletxt_txtTit{padding:5px 0px;font-size:15px;font-family:"Microsoft YaHei";font-weight:normal;color:#262626;}

.saletxt_txtP{line-height:22px;font-size:12px;font-family:"Microsoft YaHei";color:#A6A6A6;}
.saletxt_price{position:absolute;right:10px;top:14px;}
.saletxt_money{font-size:12px;font-family:"Microsoft YaHei";color:#262626;}
.red{font-size:18px;font-family:"Microsoft YaHei";color:#FF1F35;}


/*----------03买入-买入1-----------*/
.saletxt_txtP2{line-height:22px;font-size:12px;font-family:"Microsoft YaHei";color:#5F5F5F;}
.buytxt_price{position:relative;top:5px;}


/*----------03买卖-卖出2-----------*/
.saleMesTitBox{width:100%;border-bottom:1px solid #D7D7D7;}
.saleMesTit{position:relative;top:1px;padding:5px 12px;font-size:12px;font-family:"Microsoft YaHei";font-weight:normal;color:#262626;border-bottom:1px solid #22C064;display:inline-block;}
.saleMesCont{padding:10px 20px;}
.saleMesCont_table,
.saleMesCont_table2{width:100%;font-size:12px;font-family:"Microsoft YaHei";color:#4C4C4C;border-collapse:separate;border-spacing:0px 8px;}
.saleMesCont_table td,
.saleMesCont_table2 td{white-space:nowrap;}
.saleMesCont_table2{position:relative;top:-8px;}
.fileBtn{width:70px;height:22px;/*background:url(../images/icon/fileBtn_bg.png) left center no-repeat;*/}
.okBtnBox{padding:10px 0;text-align:center;}
.okBtn{width:100%;height:30px;font-size:15px;font-family:"Microsoft YaHei";color:#FFFFFF;background:url(../images/icon/littlePink_bg.png) left center no-repeat;background-size:100% 100%;/*border-radius:50px;*/}


/*----------03买入-买入2-----------*/


/*----------04我的-----------*/
.coop{position:relative;padding:10px 0 20px 0;border-bottom:1px solid #DFDFDF;margin-bottom:5px;background:#FFF;}
.coopImg{position:absolute;left:10px;top:50%;margin-top:-34px;width:68px;height:68px;}
.coopTxt{padding-left:90px;padding-right:35px;}
.coopTxt h3{padding:5px 0;font-size:18px;font-family:"Microsoft YaHei";font-weight:normal;color:#1B1B1B;}
.coopTxt .coopTxt_p1{font-size:12px;font-family:"Microsoft YaHei";color:#1B1B1B;margin-bottom:5px;}
.coopTxt .coopTxt_p2{font-size:12px;font-family:"Microsoft YaHei";color:#666666;}
.GPS{position:relative;top:2px;width:13px;height:14px;background:url(../images/icon/GPS.jpg) left center no-repeat;background-size:13px 14px;display:inline-block;margin-right:3px;}
.hadcareBox{margin-bottom:5px;border-bottom:1px solid #D7D7D7;background:#FFF;}
.hadcare_tit{padding:10px;font-size:15px;font-family:"Microsoft YaHei";font-weight:normal;color:#3F3A3A;border-top:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;}
.hadcare_cont{padding:10px 20px;}
.hadcare_table{width:100%;background:url(../images/icon/verticleLine.jpg) 4px top repeat-y;border-collapse:separate;border-spacing:0px 10px;}
.hadcare_table tr{}
.hadcare_table .hadcare_01{width:30%;padding-left:20px;font-size:16px;font-family:"Microsoft YaHei";font-weight:normal;color:#020202;background:url(../images/icon/lakeblue.jpg) left center no-repeat;background-size:8px 8px;white-space:nowrap;}
.hadcare_02{width:60%;font-size:12px;font-family:"Microsoft YaHei";color:#7F7F7F;}
.hadcare_03{width:10%;font-size:12px;font-family:"Microsoft YaHei";color:#5D5D5D;text-align:right;white-space:nowrap;}
.hadcare_table tr.hadcareActive{}
.hadcare_table tr.hadcareActive .hadcare_01{background:url(../images/icon/orangeDot.jpg) left center no-repeat;background-size:8px 8px;}
.operate{margin-bottom:20px;background:#FFF;}
.operate_ul{border-top:1px solid #D7D7D7;}
.operate_ul li{position:relative;font-size:15px;font-family:"Microsoft YaHei";color:#1B1B1B;border-bottom:1px solid #F0F0F0;}
.operate_ul li a{width:100%;height:100%;padding:10px 20px;color:#1B1B1B;display:block;box-sizing:border-box;}
.operate_ul li .operateIcon{width:17px;height:17px;}
.quitBox{padding:10px 0;text-align:center;}
.quit{width:100%;height:30px;background:url(../images/icon/quit_bg.jpg) left center repeat-x;font-size:15px;font-family:"Microsoft YaHei";color:#FFF;}

















































































